{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" style ="background-color:#e0e0e0" >
      <div class="container" style="text-align:center">

		<h1>My wallet</h1>
		</div>
    </div>

    <div class="container" style="text-align:center">
        {% for charge in account %}
            {% if forloop.first %}
                <h2>Income</h2>
                </br>
                <table class="table"  >
                    <thead>
                        <tr>
                            <th style="text-align:center">Charge</th>
                            <th style="text-align:center">Purpose</th>
                            <th style="text-align:center">Category</th>
                            <th style="text-align:center">Date</th>
                        </tr>
                    </thead>
				    <tbody>
            {% endif %}
            {% if charge.value >= 0 %}
                        <tr>
                            <td>{{charge.value}}</td>
                            {% if charge.purpose != "" %}
                                <td>{{charge.purpose}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if charge.category != "" %}
                                <td>{{charge.category}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{charge.date}}</td>

                        </tr>
            {% endif %}

            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </div>
    </br>
    </br>

    <div class="container" style="text-align:center">
        {% for charge in account %}
            {% if forloop.first %}
                <h2>Outcome</h2>
                </br>
                <table class="table"  >
                    <thead>
                        <tr>
                            <th style="text-align:center">Charge</th>
                            <th style="text-align:center">Purpose</th>
                            <th style="text-align:center">Category</th>
                            <th style="text-align:center">Date</th>
                        </tr>
                    </thead>
				    <tbody>
            {% endif %}
            {% if charge.value <= 0 %}
                        <tr>
                            <td>{{charge.value}}</td>
                            {% if charge.purpose != "" %}
                                <td>{{charge.purpose}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if charge.category != "" %}
                                <td>{{charge.category}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{charge.date}}</td>

                        </tr>
            {% endif %}

            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
        <div class="container">
            <p style="text-align:right">
                <b>Your total: {{acc.total}}</b>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="control-group">
            <p style="text-align:center">
                {% url 'add_charge' account_id as charge_url %}
                <a class="btn btn-primary btn-lg" href="../..{{charge_url}}" role="button">Add transaction</a>
            </p>
        </div>
    </div>
{% endblock %}